body {
  font-family: "Lato", sans-serif;
  background: url(./Resources/imgRoom.jpg) no-repeat;
  height: 100vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
canvas {
  position: absolute;
  top: 0;
}
#oval {
  width: 120px;
  height: 70px;
  border-radius: 140px /80px;
  border: 10px solid white;
  position: absolute;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 650px;
  z-index: -1;
}
.container {
  font-size: 30px;
}
.containerOval {
  margin-top: 500px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
@media screen and (max-width: 750px) {
  .container {
    font-size: 18px;
  }
}

@media screen and (min-width: 550px) {
  .chairImage {
    text-align: center;
  }
  .chairImage img {
    width: 400px !important;
    height: 400px !important;
  }
}

/* @media screen and (max-height: 850px) {
  .chairImage {
    text-align: center;
  }
  .chairImage img {
    width: 400px !important;
    height: 400px !important;
  }
} */

.blink_me {
  animation: blinker 3s infinite;
}
.blink_Chair {
  animation: blinker 4s infinite;
}
@keyframes blinker {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
